@font-face {
    font-family: Roboto;
    src: url(media/fonts/Roboto-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    --background: rgba(255, 255, 255, 0.75);
    --button-background: #efefef;
    --button-background-hover: #eaeaea;
    --button-background-active: #dddddd;
    --button-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}

#overlay {
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

#debug {
    pointer-events: auto;
    position: absolute;
    bottom: 10px;
    right: 10px
}

#date {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background);
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: var(--shadow);
    min-width: 400px;
    text-align: center;
}

#time-control {
    pointer-events: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#time-control button {
    background-color: var(--button-background);
    color: #222222;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 2.5em;
    width: 2.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 0.5em;
    box-shadow: var(--button-shadow);
    transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

#time-control button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#time-control button:not(:disabled):hover {
    background-color: var(--button-background-hover);
}

#time-control button:not(:disabled):active {
    background-color: var(--button-background-active);
}

#time-control img {
    height: 2em;
    width: 2em;
}

#unpause-button {
    margin-right: 20px;
}

#indians {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--background);
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: var(--shadow);
    min-width: 375px;
    text-align: right;
}

#indians > div {
    display: flex;
    justify-content: space-between;
}

#day-progression-wrapper {
    height: 5px;
    width: 100%;
    background-color: gray;
    border-radius: 5px;
    margin-top: 10px;
}

#day-progression {
    background-color: #028dff;
    color: #028dff;
    height: 100%;
    width: 0;
    transition: width 0.1s linear;
    z-index: 11;
    box-shadow: 0 0 10px currentColor;
    border-radius: 5px;
}

#day-progression.fast-af {
    width: 100% !important;
    animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

#war-utilities {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 10px 0 10px 10px;
}

#stats {
    background-color: var(--background);
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: var(--shadow);
    min-width: 250px;
}

#stats > div {
    display: flex;
    justify-content: space-between;
}

#utilities-shop {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60vh;
    width: 400px;
    display: flex;
    align-items: center;
    filter: drop-shadow(var(--shadow));
    pointer-events: auto;
    transition: transform 0.25s ease-in-out;
}

#utilities-shop #shop-container {
    background-color: var(--background);
    border-radius: 0 25px 25px 0;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#utilities-shop #shop-header {
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 3.5em;
    box-shadow: var(--shadow);
    background-color: var(--background);
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#utilities-shop #expander {
    height: 3em;
    width: 3em;
    background-color: var(--background);
    border-radius: 0 25px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

#utilities-shop #shop-item-container {
    display: grid;
    gap: 10px;
    padding: calc(3.5em + 10px) 10px 10px 10px;
    grid-template-columns: auto auto auto;
}

#utilities-shop .shop-item {
    height: 100px;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    user-select: none;
    position: relative;
}

#utilities-shop .shop-item .count {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888888;
}

#utilities-shop .shop-item:hover {
    background-color: #e5e5e5;
}

#utilities-shop .shop-item:active {
    background-color: #b2b2b2;
}

#utilities-shop #toggle-shop-icon {
    transition: transform 0.25s ease-in-out, margin-right 0.25s ease-in-out;
    width: 2.5em;
    height: 2.5em;
    margin-top: 2px;
    margin-right: 2px;
}

#utilities-shop.open #toggle-shop-icon {
    transform: rotate(180deg);
    margin-right: 6px;
}

#utilities-shop:not(.open) {
    transform: translate(calc(-400px + 3em), -50%);
}

#utilities-shop #cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5em;
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    background-color: var(--background);
}

#utilities-shop #cart button {
    background-color: var(--button-background);
    color: #222222;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
    box-shadow: var(--button-shadow);
}

#utilities-shop #cart button img {
    height: 1em;
    transform: scale(150%) translateY(1px);
}

#utilities-shop #cart button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#utilities-shop #cart button:not(:disabled):hover {
    background-color: var(--button-background-hover);
}

#utilities-shop #cart button:not(:disabled):active {
    background-color: var(--button-background-active);
}

.text-bold {
    font-weight: bold;
}

#cart-amount-wrapper #cart-amount {
    transition: transform 0.5s ease-in-out;
}

#cart-amount-wrapper #insufficient-funds-notice {
    font-size: small;
    color: #f00000;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.25s ease-in;
}

#cart-amount-wrapper:not(.insufficient-funds) #cart-amount {
    transform: translateY(50%);
}

#cart-amount-wrapper:not(.insufficient-funds) #insufficient-funds-notice {
    transform: translateY(-50%);
}

#cart-amount-wrapper.insufficient-funds #cart-amount {
    transform: translateY(0);
}

#cart-amount-wrapper.insufficient-funds #insufficient-funds-notice {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 1.5s ease-out;
}

#inventory {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--background);
    padding: 1em;
    border-radius: 5px;
    box-shadow: var(--shadow);
    display: flex;
    gap: 10px;
    align-items: center;
    pointer-events: auto;
}

#inventory .inventory-item {
    height: 7em;
    width: 7em;
    overflow: hidden;
    position: relative;
    background-color: var(--button-background);
    color: #222222;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    padding: 1em;
    text-align: center;
}

#inventory .inventory-item:hover {
    background-color: var(--button-background-hover);
}

#inventory .inventory-item:active {
    background-color: var(--button-background-active);
}

#inventory .inventory-item .stock {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888888;
}

#inventory .inventory-item.selected {
    outline: 2px solid #d0d0d0;
    outline-offset: 2px;
}